# Pycharm Config #
##################
.idea/
__pycache__/

# Configuration Files #
#######################
*.localconf 

# DAViCAL server #
##################
davical

# Shouldn't be versioned #
##########################
node_modules/

# Remove Frigg logs from git #
##############################
Frigg/logs/
