# Pycharm Config #
##################
.idea/
__pycache__/
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                 
