<mat-toolbar color="primary">
  <mat-toolbar-row>
    <input type="image" class="logo" src='../assets/logo.png' routerLink="/calendar" alt="Centscal">
    <span class="spacer"></span>
    <p>{{username}}</p>
    <button mat-button><a routerLink="/filtres">Filtres</a></button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Afficher profil</span>
        </button>
        <button mat-menu-item>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>





<router-outlet></router-outlet>
