<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class='logo' src='../assets/logo.png' alt="Centscal">
    <span class="spacer"></span>
    <p>{{username}}</p>
    <button mat-button><a routerLink="/filtres">Filtres</a></button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Afficher profil</span>
        </button>
        <button mat-menu-item>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <full-calendar defaultView="dayGridMonth"
                 [plugins]="calendarPlugins"
                 [firstDay]="1"
                 [navLinks]="true">
  </full-calendar>
</mat-card>




<router-outlet></router-outlet>
